<div *ngIf="model.serverErrors.length === 0">
    Learn words:
    <div class="words">
        <word [model]="learnWord" *ngFor="let learnWord of learnWords()"></word>
    </div>
    Known words:
    <div class="words">
        <word [model]="knownWord" *ngFor="let knownWord of knownWords()"></word>
    </div>

    <modal id="dictionaries-modal">
        <translation-modal modalId="dictionaries-modal"></translation-modal>
    </modal>
</div>

<div *ngIf="model.serverErrors.length > 0">
    <div *ngFor="let error of model.serverErrors">
        {{error}}
    </div>
</div>
