<div class="ui search">
    <div class="ui transparent inverted left icon input">
        <i class="search icon" [class.loading]="isLoadingVisible"></i>
        <input class="materials-search" type="text" placeholder="Search material"
               [(ngModel)]="model.input" (keydown)="inputChanged()">
    </div>
    <div class="results transition visible" style="display: block !important;"
         *ngIf="this.model.entities.length !== 0 && isFocused">
        <a *ngFor="let entity of this.model.entities" class="result"
           [routerLink]="['material', entity.id]" (click)="clearInput()">
            <div class="content">
                <div class="title">{{entity.name}}</div>
            </div>
        </a>
    </div>
</div>
