<div>
    <form novalidate #form="ngForm">
        <div>
            <label>
                Name:
                <input type="text" required [(ngModel)]="material.name" name="name" #name="ngModel" />
            </label>
            <div *ngIf="(formSubmited || name.dirty) && name.invalid">
                <ul *ngFor="let error of validationErrors(name)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>
        <div>
            <label>
                Description:
                <input type="text" required [(ngModel)]="material.description" name="description" #description="ngModel" />
            </label>
            <div *ngIf="(formSubmited || description.dirty) && description.invalid">
                <ul *ngFor="let error of validationErrors(description)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>
        <div>
            <div *ngIf="imageError">
                <ul>
                    <li>{{imageError}}</li>
                </ul>
            </div>
        </div>
        <div>
            <label>
                Subtitles:
                <subtitles-input [(ngModel)]="material.words" name="subtitles" #subtitles="ngModel" required></subtitles-input>
            </label>
        </div>
        <div *ngIf="(formSubmited || subtitles.dirty) && subtitles.invalid">
            <ul *ngFor="let error of validationErrors(subtitles)">
                <li>{{error}}</li>
            </ul>
        </div>
        <div>
            <label>
                Image:
                <file-input name="image" fileType="image/jpeg;image/png" required [(ngModel)]="material.image" #image="ngModel" (change)="createImagePreview(image)"></file-input>
            </label>
            <div *ngIf="(formSubmited || image.dirty) && image.invalid">
                <ul *ngFor="let error of validationErrors(image)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>
        <div>
            <input type="button" value="Send" (click)="createMaterial(form)" />
        </div>
        <div *ngIf="image.valid && imagePreview">
            <img [src]="imagePreview" />
        </div>
    </form>
</div>
<div *ngIf="material.words && material.words.length !== 0">
    <span *ngFor="let word of material.words">
        {{word.theWord}}
    </span>
</div>