<div *ngIf="mode == 1 || mode == 2" class="ui inverted segment">
    <form class="ui inverted form" novalidate #form="ngForm">

        <div>
            <label>Name:</label>
            <input name="name" type="text" placeholder="Name" required [(ngModel)]="material.name" #name="ngModel">

            <div *ngIf="(formSubmited || name.dirty) && name.invalid">
                <ul *ngFor="let error of validationErrors(name)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>

        <div>
            <label>Description:</label>
            <input name="description" type="text" placeholder="Description" required
                   [(ngModel)]="material.description" #description="ngModel" />

            <div *ngIf="(formSubmited || description.dirty) && description.invalid">
                <ul *ngFor="let error of validationErrors(description)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>

        <div class="two fields">
            <div id="material-files" class="field">
                <label>Subtitles:</label>
                <subtitles-input name="subtitles" required
                                 [(ngModel)]="model.wordCompositions" #subtitles="ngModel"></subtitles-input>

                <div *ngIf="(formSubmited || subtitles.dirty) && subtitles.invalid">
                    <ul *ngFor="let error of validationErrors(subtitles)">
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>

            <div class="field">
                <label>Image:</label>
                <image-input name="image" mimeTypes="image/jpeg;image/png" required
                             [(ngModel)]="material.image" #image="ngModel"></image-input>

                <div *ngIf="(formSubmited || image.dirty) && image.invalid">
                    <ul *ngFor="let error of validationErrors(image)">
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <input class="ui inverted basic button" type="button" value="Save" (click)="saveMaterial(form)" />
                <input *ngIf="mode == 1" class="ui inverted red basic button" type="button" value="Cancel"
                       (click)="onRouteChanged(material.id)" />
            </div>
        </div>
    </form>
</div>

<div *ngIf="model.serverErrors.length > 0">
    <div *ngFor="let error of model.serverErrors">
        {{error}}
    </div>
</div>

<div class="ui relaxed divided items">
    <div class="item">
        <div *ngIf="material.image" class="ui image">
            <img [src]="material.image" />
        </div>
        <div class="content">
            <div id="material-name" class="header">{{material.name}}</div>
            <div id="material-description">{{material.description}}</div>
            <div id="material-edit-buttons">
                <button *ngIf="mode == 0" class="ui secondary mini button" type="button" (click)="editMaterial()">
                    Edit
                </button>
                <button *ngIf="mode == 0" class="ui secondary mini button" type="button" (click)="deleteMaterial()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="model.wordCompositions && model.wordCompositions.length !== 0" class="words">
    <word *ngFor="let wordComposition of model.wordCompositions" [model]="wordComposition"></word>
</div>

<br />

<modal id="modal">
    <translation-modal modalId="modal"></translation-modal>
</modal>