<div *ngIf="mode == 1 || mode == 2" class="ui inverted segment">
    <form class="ui inverted form" novalidate #form="ngForm">

        <div>
            <label>Name:</label>
            <input name="name" type="text" placeholder="Name" required [(ngModel)]="material.name" #name="ngModel">

            <div *ngIf="(formSubmited || name.dirty) && name.invalid">
                <ul *ngFor="let error of validationErrors(name)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>

        <div>
            <label>Description:</label>
            <input name="description" type="text" placeholder="Description" required
                   [(ngModel)]="material.description" #description="ngModel" />

            <div *ngIf="(formSubmited || description.dirty) && description.invalid">
                <ul *ngFor="let error of validationErrors(description)">
                    <li>{{error}}</li>
                </ul>
            </div>
        </div>

        <div class="two fields">
            <div id="material-files" class="field">
                <label>Subtitles:</label>
                <ww-subtitles-input name="subtitles" required [(ngModel)]="vocabWords" [(words)]="material.words"
                                 [(vocabWords)]="vocabWords" #subtitles="ngModel"></ww-subtitles-input>

                <div *ngIf="(formSubmited || subtitles.dirty) && subtitles.invalid">
                    <ul *ngFor="let error of validationErrors(subtitles)">
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>

            <div class="field">
                <label>Image:</label>
                <ww-image-input name="image" mimeTypes="image/jpeg;image/png" required
                             [(ngModel)]="material.image" #image="ngModel"></ww-image-input>

                <div *ngIf="(formSubmited || image.dirty) && image.invalid">
                    <ul *ngFor="let error of validationErrors(image)">
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <input class="ui inverted basic button" type="button" value="Save" (click)="saveMaterial(form)" />
                <input *ngIf="mode == 1" class="ui inverted red basic button" type="button" value="Cancel"
                       (click)="onRouteChanged(material.id)" />
            </div>
        </div>
    </form>
</div>

<div class="ui relaxed divided items">
    <div class="item">
        <div *ngIf="material.image" class="ui image">
            <img [src]="material.image" />
        </div>
        <div class="content">
            <div id="material-name" class="header">{{material.name}}</div>
            <div id="material-description">{{material.description}}</div>
            <div id="material-edit-buttons">
                <button *ngIf="isEditButtonsVisible" class="ui secondary mini button" type="button" (click)="editMaterial()">
                    Edit
                </button>
                <button *ngIf="isEditButtonsVisible" class="ui secondary mini button" type="button" (click)="deleteMaterial()">
                    Delete
                </button>
            </div>
            <div *ngIf="vocabWords?.length > 0" class="material-stats">
                <div *ngFor="let stat of materialStats">
                    <div class="inline">{{stat.name}}:</div>
                    <div class="inline">{{stat.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <label for="learnWords">Display learn words</label>
    <input id="learnWords" type="checkbox" [checked]="filtration.showLearnWords" (change)="filtration = filtration.invertLearnWord()">
    <label for="knownWords">Display known words</label>
    <input id="knownWords" type="checkbox" [checked]="filtration.showKnownWords" (change)="filtration = filtration.invertKnownWord()">
    <label for="unsignedWords">Display unsigned words</label>
    <input id="unsignedWords" type="checkbox" [checked]="filtration.showUnsignedWords" (change)="filtration = filtration.invertUnsignedWord()">
</div>

<div *ngIf="vocabWords?.length !== 0" class="words">
    <ww-word *ngFor="let vocabWord of vocabWords | vocabWordFilter:filtration" [vocabWord]="vocabWord"></ww-word>
</div>

<br />

<ww-modal id="material-translation-modal">
    <ww-translation-modal modalId="material-translation-modal"></ww-translation-modal>
</ww-modal>
