<div class="ms">
    <div *ngFor="let material of model.materials" class="ms-material"
         (click)="onMaterialClick(material.id)">
        <div class="ms-material-name">{{material.name}}</div>
        <img [src]="material.image" class="ms-material-image"/>
    </div>
    <div class="ms-material ms-no-br"></div>
    <div class="ms-material ms-no-br"></div>
    <div class="ms-material ms-no-br"></div>
    <div class="ms-material ms-no-br"></div>
    <div class="ms-material ms-no-br"></div>
    <div class="ms-material ms-no-br"></div>
</div>

<div *ngIf="model.materials && model.materials.length" class="ms-pagination">
    <ww-pagination [ngModel]="model.paginationModel"></ww-pagination>
</div>
