<div>
    <div>
        <div class="center modal-word">{{ model.wordComposition.materialWord.theWord | capitalize }}</div>
        <div class="center">
            <div class="ui slider checkbox">
                <input type="checkbox" [(ngModel)]="!model.wordComposition.vocabWord.type">
                <label>Learn</label>
            </div>
            <div class="ui slider checkbox">
                <input type="checkbox" [checked]="model.wordComposition.vocabWord.type"
                       (change)="model.wordComposition.vocabWord.type = !model.wordComposition.vocabWord.type">
                <label>Know</label>
            </div>
        </div>
        <div class="center modal-translation">Translation:</div>
    </div>
    <div class="words modal">
        <div class="word" *ngFor="let translation of model.translations" (click)="selectTranslation(translation)">
            <div class="modal-origin">{{ translation }}</div>
        </div>
    </div>
</div>