<div>
    <div>
        <div class="center modal-word">{{ model.wordComposition.materialWord.theWord | capitalize }}</div>
        <div class="center">
            <div class="ui slider checkbox">
                <input type="checkbox" [checked]="model.wordComposition.vocabWord.type == 0"
                       (change)="(model.wordComposition.vocabWord.type === 0) ?
                        model.wordComposition.vocabWord.type = 1 :
                        model.wordComposition.vocabWord.type = 0">
                <label>Learn</label>
            </div>
            <div class="ui slider checkbox">
                <input type="checkbox" [checked]="model.wordComposition.vocabWord.type == 1"
                       (change)="(model.wordComposition.vocabWord.type === 1) ?
                        model.wordComposition.vocabWord.type = 0 :
                        model.wordComposition.vocabWord.type = 1">
                <label>Know</label>
            </div>
        </div>
        <div class="center modal-translation">Translation:</div>
    </div>
    <div class="words modal">
        <div class="word" *ngFor="let translation of model.translations" (click)="selectTranslation(translation)">
            <div class="modal-origin">{{ translation }}</div>
        </div>
    </div>
</div>