<div bsModal
     #changePasswordModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal"
     (onShown)="onShown()">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form *ngIf="active">
                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-line">
                            <label>Current password</label>
                            <input #currentPasswordInput type="password"
                                   name="CurrentPassword"
                                   class="form-control"
                                   [(ngModel)]="currentPassword" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-line">
                            <label>New password</label>
                            <input type="password" name="NewPassword"
                                   class="form-control" [(ngModel)]="password"
                                   #NewPassword="ngModel"
                                   validateEqual="NewPasswordRepeat" reverse="true"
                                   required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-line">
                            <label>Repeat new password</label>
                            <input type="password" name="NewPasswordRepeat"
                                   class="form-control" [ngModel]="confirmPassword"
                                   #NewPasswordRepeat="ngModel"
                                   validateEqual="NewPassword" reverse="false"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg close-button" (click)="close()" [disabled]="saving">
                        Cancel
                    </button>
                    <button class="btn btn-lg primary save-button"
                            (click)="save()"
                            [disabled]="saving">
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>