<div class="dictionary" *ngIf="learnWords()?.length > 0 || knownWords()?.length > 0">

    <div class="header">
        Learn words ({{learnWordsCount}}) :
    </div>
    <div class="words">
        <ww-word [vocabWord]="learnWord" *ngFor="let learnWord of learnWords()"></ww-word>
    </div>

    <div class="header">
        Known words ({{knownWordsCount}}) :
    </div>
    <div class="words">
        <ww-word [vocabWord]="knownWord" *ngFor="let knownWord of knownWords()"></ww-word>
    </div>

    <ww-translation-modal></ww-translation-modal>
</div>
